*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index:-1;
}

.joystickWrapper1 {
    pointer-events: auto;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: transparent;
    width: 120px;
    height: 120px;
    touch-action: manipulation;
    background-color: rgba(red, 0.2);
  }

#app{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
}
